{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <h1 class="m-3">Home page</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Modifier</th>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for content_static in content_statics %}
            <tr>
                <td>{{ content_static.updatedAt ? content_static.updatedAt|date('d-m-Y H:i:s') : '' }} par {{ content_static.updatedBy }}</td>
                <td>{{ content_static.title }}</td>
                <td>{{ content_static.description|slice(0, 130) }}</td>
                <td>
                    <a href="{{ path('content_static_edit', {'id': content_static.id}) }}"><i class="fas fa-user-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
