{# {{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
 #}

{{ form_start(form) }}
    {{ form_errors(form) }}
    <table class="table table-striped">
    	<tbody>
	    	<tr class="text-center">
		  		<th>Email* : <br> {{ form_widget(form.email, { 'attr': {'class': "span12",'placeholder': "exemple@team.com"} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>Nom : <br> {{ form_widget(form.firstname, { 'attr': {'class': "span12",'placeholder': "Doe"} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>Prénom : <br> {{ form_widget(form.lastname, { 'attr': {'class': "span12",'placeholder': "John"} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>Pseudo* : <br> {{ form_widget(form.username, { 'attr': {'class': "span12",'placeholder': "Gotaga"} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>Mot de passe* : <br> {{ form_widget(form.password, { 'attr': {'class': "span12",'placeholder': "********"} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>Date de naissance : <br> {{ form_widget(form.birthday, { 'attr': {'class': "span12"} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>Nationalité : <br> {{ form_widget(form.nationality, { 'attr': {'class': "span12"} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>Jeux : <br> {{ form_widget(form.jeux, { 'attr': {'class': "span12"} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>Image : <br> {{ form_widget(form.images, { 'attr': {'class': "span12"} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>Membre Actif ? <br> {{ form_widget(form.isActive, { 'attr': {'class': "span12"} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>{{ form_widget(form.description, { 'attr': {'class': "span12",'placeholder': "Ma bio ...", 'rows' : '10', 'cols' : '100'} }) }}</th>
		  	</tr>
		</tbody>
	</table>
	<div class="text-center">
		<button class="text-center btn mb-5 admin-btn">{{ button_label|default('Valider') }}</button>
    </div>
{{ form_end(form) }}
