{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="row m-0" style="justify-content: space-between;">
        <h1 class="m-3">Membres</h1>
        <a class="m-3" style="color: #63c7d2;" href="{{ path('users_new') }}"><i class="fas fa-user-plus fa-2x"></i></a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr class="text-center">
                <th>Créé</th>
                <th>Mdifié</th>
                <th>Pseudo</th>
                <th>Actif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users|reverse %}
            <tr class="text-center">
                <td>
                    {{ user.createdAt ? user.createdAt|date('d-m-Y') : '' }}
                    <BR> {{ user.createdAt ? user.createdAt|date('H:i:s') : '' }}
                    <BR> {{ user.createdBy }}
                </td>
                <td>
                    {{ user.updatedAt ? user.updatedAt|date('d-m-Y') : '' }} 
                    <BR> {{ user.updatedAt ? user.updatedAt|date('H:i:s') : '' }}
                    <BR> {{ user.updatedBy }}
                </td>
                <td>
                    {% if user.nationality is not null %}
                        <img style="height: 20px; width: auto;" src="../../flag/{{ user.nationality }}">
                    {% else %}
                        <img style="height: 20px; width: auto;" src="../../flag/eu.png">
                    {% endif %}
                    <BR>
                    {{ user.username }}
                </td>
                <td>{{ user.isActive ? '<i class="fas fa-check text-success fa-2x"></i>' : '<i class="fas fa-times text-danger fa-2x"></i>' }}
                </td>
                <td class="d-flex" style="justify-content: center;">
                    <a href="{{ path('users_show', {'id': user.id}) }}"><i class="far fa-eye m-3"></i></a>
                    <a href="{{ path('users_edit', {'id': user.id}) }}"><i class="fas fa-user-edit m-3"></i></a>
                   <p>{{ include('users/_delete_form.html.twig') }}</p>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
