{% extends 'admin/baseAdmin.html.twig' %}
{% block body %}
    <div class="row m-3" style="justify-content: space-between;">
        <h1>{{ user.username }}</h1>
        <div>
            <a style="color: #63c7d2;" href="{{ path('users_edit', {'id': user.id}) }}"><i class="fas fa-user-edit fa-2x"></i></a>
            <a class="m-3" style="color: #63c7d2;" href="{{ path('users_index') }}"><i class="fas fa-sign-out-alt  fa-2x"></i></a>
        </div>
    </div>


    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Créé</th>
                <td>{{ user.createdAt ? user.createdAt|date('d-m-Y H:i:s') : '' }} par {{ user.createdBy }}</td>
            </tr>
            <tr>
                <th>Modifié</th>
                <td>{{ user.updatedAt ? user.updatedAt|date('d-m-Y H:i:s') : '' }} par {{ user.updatedBy }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ user.isActive ? '<i class="fas fa-check text-success fa-2x"></i>' : '<i class="fas fa-times text-danger fa-2x"></i>' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>line up</th>
                    <td>
                        {% for lineUp in user.lineup %}
                            <p>{{ lineUp.name }}</p>
                        {% endfor %}
                    </td>
            </tr>
            <tr>
                <th>Nationalité</th>
                <td>
                    {% if user.nationality is not null %}
                        <img style="height: 20px; width: auto;" src="../../flag/{{ user.nationality }}">
                    {% else %}
                        <img style="height: 20px; width: auto;" src="../../flag/eu.png">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ user.birthday ? user.birthday|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ user.description }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
