{% extends 'base.html.twig' %}

{% block body %}
<div class="aqua-gradient pb-5" style="padding-top: 100px; height: auto;">
    <div class="container" style="width: 80%;">
            <div class="row m-0" style="justify-content: space-between;">
                
                <div class="col-xl-7">
                    <hr>
                    <div class="d-none mobileImg text-center mb-3">
                        <img style="height: 150px; width: 150px;" src="../../image/{{ imageName }}">
                    </div>

                    <div class="row" style="justify-content: center;">
                        <p class="mt-1">
                            {% if user.nationality is not null %}
                                <img style="height: 20px; width: auto;" src="../../flag/{{ user.nationality }}">
                            {% else %}
                                <img style="height: 20px; width: auto;" src="../../flag/eu.png">
                            {% endif %}
                        </p>
                        <p class="ml-2 mr-2" style="font-size: 25px;">{{ user.firstname }}</p>
                        <p class="ml-2 mr-2 font-weight-bold" style="font-size: 30px;">" {{ user.username }} "</p>
                        <p class="ml-2" style="font-size: 25px;">{{ user.lastname }}</p>
                        <p class="ml-4 mt-2">{{ birthday }} ans</p>
                    </div>
                    <hr>

                    <div>
                        <p class="text-center">{{ user.description }}</p>
                    </div>
                    <hr>

                    <div class="row" style="justify-content: space-between;">
                        <p>Jeux</p>
                            <div class="text-right">
                                {% for jeux in user.Jeux %}
                                    <p>{{ jeux.name }}</p>
                                {% endfor %}
                            </div>
                    </div>
                    <hr>

                    <div class="row" style="justify-content: space-between;">
                        <p>Line up</p>
                            <div class="text-right">
                                {% for lineUp in user.lineups %}
                                    <a href="{{ path('lineups_show', {'id': lineUp.id}) }}">{{ lineUp.name }}</a>
                                {% endfor %}
                            </div>
                    </div>

                </div>
    {# -------------------------------------------------------- #}
                <div class="statsPerso col-4 m-3 borderColor">
                {% if imageName is not empty %}
                    <div class="imageLarge borderColor text-center mb-3">
                        <img style="height: 150px; width: 150px;" src="../../image/{{ imageName }}">
                    </div>
                {% endif %}

                    <div class="text-center borderColor">
                        <p class="font-weight-bold">Palmares</p>
                        <hr>
                        {% for palmares in user.palmares|reverse %}
                            <p class="mb-0">{{ palmares.jeux.name }}</p>
                            <p>{{ palmares.name }} - Top {{ palmares.rank }}</p>
                        {% endfor %}
                    </div>

                    <div class="text-center borderColor">
                        <p class="font-weight-bold">Matchs</p>
                         <hr>
                        {% for resultat in user.resultats|reverse|slice(0, 10)|reverse %}
                            {% if  resultat.scoreOne < resultat.scoreTwo %}
                            <div class="row mr-0 ml-0 borderScore">
                                <p class="mb-0 col-4 bg-danger weight5">{{ resultat.lineup.name }}</p>
                                <p class="mb-0 col-4 bg-danger weight5">
                                <span>{{ resultat.scoreOne }}</span> - <span>{{ resultat.scoreTwo }}</span></p>
                                <p class="mb-0 col-4 bg-danger weight5">{{ resultat.teamAdverse }}</p>
                            </div>
                            {% else %}
                            <div class="row mr-0 ml-0 borderScore">
                                <p class="mb-0 col-4 bg-success weight5">{{ resultat.lineup.name }}</p>
                                <p class="mb-0 col-4 bg-success weight5">
                                <span>{{ resultat.scoreOne }}</span> - <span>{{ resultat.scoreTwo }}</span></p>
                                <p class="mb-0 col-4 bg-success weight5">{{ resultat.teamAdverse }}</p>
                            </div>    
                            {% endif %}
                        {% endfor %}
                    </div>

                </div>

            </div>
    </div>
</div>

<style type="text/css">

    @media screen and (max-width : 1024px) {

        .imageLarge {
            display: none !important;
        }

        .mobileImg {
            display: block !important;
        }

        .statsPerso {
            display: contents;
        }
    }

    .borderColor{
        border: solid 1px #000;
        margin-bottom: 15px;
        padding: 10px;
    }

    .borderScore {
        border: solid 1px wheat;
    }

    .weight5{
        font-weight: 500 !important;
    }
</style>
            
{% endblock %}
