{% extends 'base.html.twig' %}

{% block body %}
<div id="user-show" class="aqua-gradient pb-5 height-min">
    <div class="container w80">
            <div class="row m-0 space-between">
                
                <div class="col-xl-7">
                    <hr>
                    <div class="d-none mobileImg text-center mb-3">
                        <img class="logo-user" src="../../image/{{ imageName }}">
                    </div>

                    <div class="row justify-content-center">
                        <p class="mt-1">
                            {% if user.nationality is not null %}
                                <img class="natio" src="../../flag/{{ user.nationality }}">
                            {% else %}
                                <img class="natio" src="../../flag/eu.png">
                            {% endif %}
                        </p>
                        <p class="ml-2 mr-2 size-name">{{ user.firstname }}</p>
                        <p class="ml-2 mr-2 font-weight-bold size-pseudo">" {{ user.username }} "</p>
                        <p class="ml-2 size-name">{{ user.lastname }}</p>
                        <p class="ml-4 mt-2">{{ birthday }} ans</p>
                    </div>
                    <hr>

                    <div>
                        {% set description = user.description|split("<br />") %}
                        {% for row in description %}
                            <p class="m-0">{{ row }}</p>
                        {% endfor %}
                        
                    </div>
                    <hr>

                    <div class="row space-between">
                        <p>Jeux</p>
                            <div class="text-right">
                                {% for jeux in user.Jeux %}
                                    <p>{{ jeux.name }}</p>
                                {% endfor %}
                            </div>
                    </div>
                    <hr>

                    <div class="row space-between">
                        <p>Line up</p>
                            <div class="text-right">
                                {% for lineUp in user.lineups %}
                                    <a href="{{ path('lineups_show', {'id': lineUp.id}) }}">{{ lineUp.name }}</a>
                                {% endfor %}
                            </div>
                    </div>

                </div>
    {# -------------------------------------------------------- #}
                <div class="statsPerso col-4 m-3 borderColor">
                    {% if imageName is not empty %}
                        <div class="imageLarge borderColor text-center mb-3">
                            <img class="logo-user" src="../../image/{{ imageName }}">
                        </div>
                    {% endif %}

                    <div>
                        {% for role in user.roles %}
                        <p class="text-center font-weight-bold m-0">
                            {% if role == "ROLE_EDITOR" %}
                                <span class="text-warning">Editeur</span><br>
                            {% elseif role == "ROLE_ADMIN" %}
                                <span class="text-success">Administrateur</span><br>
                            {% endif %}
                        </p>
                        {% endfor %}
                    </div>

                    <div class="text-center borderColor">
                        <p class="font-weight-bold">Palmares</p>
                        <hr>
                        {% for palmares in user.palmares|reverse %}
                            <p class="mb-0">{{ palmares.jeux.name }}</p>
                            <p>{{ palmares.name }} - Top {{ palmares.rank }}</p>
                        {% endfor %}
                    </div>

                    <div class="text-center borderColor">
                        <p class="font-weight-bold">Matchs</p>
                         <hr>
                        {% for resultat in user.resultats|reverse|slice(0, 10)|reverse %}
                            {% if  resultat.scoreOne < resultat.scoreTwo %}
                            <div class="row mr-0 ml-0 borderScore">
                                <p class="mb-0 col-4 bg-danger weight5">{{ resultat.lineup.name }}</p>
                                <p class="mb-0 col-4 bg-danger weight5">
                                <span>{{ resultat.scoreOne }}</span> - <span>{{ resultat.scoreTwo }}</span></p>
                                <p class="mb-0 col-4 bg-danger weight5">{{ resultat.teamAdverse }}</p>
                            </div>
                            {% else %}
                            <div class="row mr-0 ml-0 borderScore">
                                <p class="mb-0 col-4 bg-success weight5">{{ resultat.lineup.name }}</p>
                                <p class="mb-0 col-4 bg-success weight5">
                                <span>{{ resultat.scoreOne }}</span> - <span>{{ resultat.scoreTwo }}</span></p>
                                <p class="mb-0 col-4 bg-success weight5">{{ resultat.teamAdverse }}</p>
                            </div>    
                            {% endif %}
                        {% endfor %}
                    </div>

                </div>

            </div>
    </div>
</div>     
{% endblock %}
