{{ form_start(form) }}
    {{ form_errors(form) }}
    <table class="table table-striped">
    	<tbody>
		  	<tr class="text-center">
		  		<th>Jeux Actif ? <br> {{ form_widget(form.isActive, { 'attr': {'class': "span12"} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>Nom : <br> {{ form_widget(form.name, { 'attr': {'class': "span12",'placeholder': "Call Of Duty"} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>image : <br> {{ form_widget(form.images, { 'attr': {'class': "span12",'placeholder': "image"} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>{{ form_widget(form.description, { 'attr': {'class': "span12",'placeholder': "Description du jeu ...", 'rows' : '10', 'cols' : '100'} }) }}</th>
		  	</tr>
		</tbody>
	</table>
	<div class="text-center">
		<button class="text-center btn mb-5 admin-btn">{{ button_label|default('Valider') }}</button>
    </div>
{{ form_end(form) }}