<!-- Footer -->
<footer class="page-footer font-small" style="margin-top: -50px;">
  <div class="footer-copyright text-center py-3 bg-dark">
  	<div class="col-3">
        <a href="{{ path('contact_new') }}">Nous contacter</a>
  	</div>

  	<!-- logo links -->
 	<div class="mt-4" style="justify-content: center;">

	    <!-- Links -->
        <a class="pr-3 pl-3 text-light" href="{{ statics[3].description }}"><i class="fab fa-steam fa-lg"></i></a>
        <a class="pr-3 pl-3 text-light" href="{{ statics[4].description }}"><i class="fab fa-discord fa-lg"></i></a>
        <a class="pr-3 pl-3 text-light" href="{{ statics[5].description }}"><i class="fab fa-battle-net fa-lg"></i></a>
        <a class="pr-3 pl-3 text-light" href="{{ statics[6].description }}"><i class="fab fa-facebook fa-lg"></i></a>
        <a class="pr-3 pl-3 text-light" href="{{ statics[7].description }}"><i class="fab fa-twitter fa-lg"></i></a>
        <a class="pr-3 pl-3 text-light" href="{{ statics[8].description }}"><i class="fab fa-youtube fa-lg"></i></a>
        <a class="pr-3 pl-3 text-light" href="{{ statics[9].description }}"><i class="fab fa-twitch fa-lg"></i></a>

	</div>
	<!-- /.logo links -->
  </div>
  
  <!-- Copyright -->
  <div class="footer-copyright text-center py-1" style="background-color: black;">2020 - Création Open Source <i class="fab fa-github"></i> v1.0 - By <a href="https://www.linkedin.com/in/lcocquyt/"><i class="fab fa-linkedin"></i></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->