  {{ form_start(form) }}
    {{ form_errors(form) }}
    <table class="table table-striped">
    	<tbody>
		  	<tr class="text-center">
		  		<th>Date du match : <br> {{ form_widget(form.date, { 'attr': {'class': "span12"} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>Jeux : <br> {{ form_widget(form.jeu, { 'attr': {'class': "span12", 'cols' : '100'} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>Line up : <br> {{ form_widget(form.lineup, { 'attr': {'class': "span12", 'cols' : '100'} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>Joueurs : <br> {{ form_widget(form.user, { 'attr': {'class': "span12"} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>Nom : <br> {{ form_widget(form.name, { 'attr': {'class': "span12",'placeholder': "Nom du match", 'cols' : '100'} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>Map 1 : <br> {{ form_widget(form.mapOne, { 'attr': {'class': "span12", 'cols' : '100'} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>Map 2 : <br> {{ form_widget(form.mapTwo, { 'attr': {'class': "span12", 'cols' : '100'} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>Score 1 : <br> {{ form_widget(form.scoreOne, { 'attr': {'class': "span12", 'cols' : '100'} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>Score 2 : <br> {{ form_widget(form.scoreTwo, { 'attr': {'class': "span12", 'cols' : '100'} }) }}</th>
		  	</tr>
		  	<tr class="text-center">
		  		<th>Team adverse : <br> {{ form_widget(form.teamAdverse, { 'attr': {'class': "span12", 'cols' : '100'} }) }}</th>
		  	</tr>
		</tbody>
	</table>
	<div class="text-center">
		<button class="text-center btn mb-5 btn-admin">{{ button_label|default('Valider') }}</button>
    </div>
{{ form_end(form) }}