{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="row m-0" style="justify-content: space-between;">
        <h1 class="m-3">Resultats</h1>
        <a class="m-3" style="color: #63c7d2;" href="{{ path('resultats_new') }}"><i class="fas fa-plus"></i><i class="fas fa-poll fa-2x"></i></a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr class="text-center">
                <th>Créé</th>
                <th>Modifier</th>
                <th>Date du match</th>
                <th>Nom</th>
                <th>Line up</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resultat in resultats|reverse %}
            <tr class="text-center">
                <td>
                    {{ resultat.createdAt ? resultat.createdAt|date('d-m-Y') : '' }}
                    <BR> {{ resultat.createdAt ? resultat.createdAt|date('H:i:s') : '' }}
                    <BR> {{ resultat.createdBy }}
                </td>
                <td>
                    {{ resultat.updatedAt ? resultat.updatedAt|date('d-m-Y') : '' }}
                    <BR> {{ resultat.updatedAt ? resultat.updatedAt|date('H:i:s') : '' }}
                    <BR> {{ resultat.updatedBy }}
                </td>
                <td>
                    {{ resultat.date ? resultat.date|date('d-m-Y') : '' }}
                    <br> {{ resultat.date ? resultat.date|date('H:i:s') : '' }}
                </td>
                <td>{{ resultat.jeu.name }}<br>{{ resultat.name }}</td>
                <td>{{ resultat.lineup.name }} VS {{ resultat.teamAdverse }}</td>
                <td class="d-flex" style="justify-content: center;">
                    <a href="{{ path('resultats_show', {'id': resultat.id}) }}"><i class="far fa-eye m-3"></i></a>
                    <a href="{{ path('resultats_edit', {'id': resultat.id}) }}"><i class="fas fa-edit m-3"></i></a>
                   <p>{{ include('resultats/_delete_form.html.twig') }}</p>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
