{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="row m-3 space-between">
        <h1>
            {{ resultat.date ? resultat.date|date('d-m-Y') : '' }}
            VS {{ resultat.teamAdverse }}</h1>
        <div>
            <a class="color-icon" href="{{ path('resultats_edit', {'id': resultat.id}) }}"><i class="fas fa-edit fa-2x"></i></a>
            <a class="m-3 color-icon" href="{{ path('resultats_index') }}"><i class="fas fa-sign-out-alt  fa-2x"></i></a>
        </div>
    </div>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Créé</th>
                <td>{{ resultat.createdAt ? resultat.createdAt|date('d-m-Y H:i:s') : '' }} par {{ resultat.createdBy }}</td>
            </tr>
            <tr>
                <th>Modifié</th>
                <td>{{ resultat.updatedAt ? resultat.updatedAt|date('d-m-Y H:i:s') : '' }} par {{ resultat.updatedBy }}</td>
            </tr>
            <tr>
                <th>Date du match</th>
                <td>{{ resultat.date ? resultat.date|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Jeux</th>
                <td>{{ resultat.jeu.name }}<br>{{ resultat.name }}</td>
            </tr>
            <tr>
                <th>Notre line up</th>
                    <td>{{ resultat.lineup.name }} --> {{ resultat.scoreOne }}</td>
                </tr>
            </tr>
            <tr>
                <th>Line up adverse</th>
                <td>
                    {{ resultat.teamAdverse }} --> {{ resultat.scoreTwo }}
                </td>
            </tr>
            <tr>
                <th>Map</th>
                <td>{{ resultat.mapOne }} - {{ resultat.mapTwo }}</td>
            </tr>
            <tr>
                <th>Joueurs</th>
                <td>
                    {% for user in resultat.user %}
                        {{ user.username }}</br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
