{% extends 'base.html.twig' %}

{% block body %}
	<div class="aqua-gradient pb-5" style="padding-top: 100px; min-height: 700px;">
    	<div class="container" style="width: 70%;">
        	
            <!--Grid column-->
            {% if imageName is not empty %}

	    		<div class="text-center">
                    <img style="width: 500px; height: auto;" src="../../image/{{ imageName }}">
	        	</div>
            {% endif %}

    		{% if news.isActive == true %}
    			<!--Excerpt-->
            
            	<h3 class="col-lg-12"><a style="color: #374348;" href="{{ path('showNews_show', {'id': news.id}) }}"><strong>{{ news.title }}</strong></a></h3>
    		
    			<div class="col-lg-12">
        			<p>{{ news.description }}</p>
           		</div>
                <div class="col-lg-12 news-data text-right">
                    <p><strong>
                    <i class="fa fa-clock-o"></i>{{ news.createdAt ? news.createdAt|date('d-m-Y') : '' }} par {{ news.createdBy }}</strong></p>
                </div>
        	{% endif %}
            <!--Grid column-->
		</div>
	</div>
</div>
{% endblock %}