{% extends 'admin/baseAdmin.html.twig' %}

{% block body %}
    <div class="row m-0" style="justify-content: space-between;">
        <h1 class="m-3">Bloc Notes</h1>
        <a class="m-3" style="color: #63c7d2;" href="{{ path('notes_new') }}"><i class="fas fa-plus fa-2x"></i></a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr class="text-center">
                <th>Id</th>
                <th>A faire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for note in notes|reverse %}
            <tr class="text-center">
                <td>{{ note.id }}</td>
                <td>{{ note.content }}</td>
                <td class="d-flex" style="justify-content: center;">
                    {# <a href="{{ path('notes_show', {'id': note.id}) }}"><i class="far fa-eye m-3"></i></a> #}
                    <a href="{{ path('notes_edit', {'id': note.id}) }}"><i class="fas fa-edit m-3"></i></a>
                   <p>{{ include('notes/_delete_form.html.twig') }}</p>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
