<div id="lineup">
  <div class="pad row justify-content-center mr-0 ml-0">

    {% for jeux in jeux %}
      <div class="col-12 col-lg-6 mt-2">

          <div class="card mx-auto text-white card_article">
              <img class="height-img" src="image/{{ jeux.imageName }}" class="card-img" alt="..." width="100%">
              <div class=" display-info d-none text-center
              {# card-img-overlay #}
              ">
              <p class="text-dark">Nos line up <br><span class="font-weight-bold size-name">{{ jeux.name }}</span></p>
                {% for lineup in jeux.lineups %}
                  {% if lineup.isActive == true %}
                    <a class="ml-1 mr-1 text-dark lineupD" href="{{ path('lineups_show', {'id': lineup.id}) }}">{{ lineup.name}}</a>
                  {% endif %}
                {% endfor %}
              </div>
          </div>
          
      </div>
    {% endfor %}

      <div class="col-12 col-lg-6 mt-2">

          <div class="card mx-auto text-white card_article bg-white pt-5 pb">
              <img src="image/navbar-logo.png" class="card-img mt-3 mb-3 img-height" alt="..." width="100%">
              <div class="display-info d-none text-center">
              <p class="mt-5">
                <a class="font-weight-bold text-dark size-name" href="{{ path('contact_new') }}">
                <span>Rejoindre une line up ?</span>
                <br>
                <span>Créer une line up ?</span>
                <br>
                <span>Par ici</span>
                <br>
                <i class="fas fa-arrow-circle-right"></i>
                </a>
              </p>
              </div>
          </div>
      </div>

  </div>
</div>
