{% if palmares and resultats is not empty %}
<div id="palmares" style="padding-top: 6em; margin-top: -6em; width: 100%; height: auto; background-color: #FFF; margin-bottom: 8rem;">
    
    {% if palmares is not empty %}
	<section class="col-12">
		<div class="row m-0">

		    <h1 class="col-12 col-lg-3 text-primary" style="font-family: 'Kaushan Script', cursive; font-size: 90px;">Palmares</h1>
		    
		    {% if palmares|length <= 10 %}
			    <div class="text-center col-12 col-lg-8">
		            {% for palmares in palmares|slice(0,9)|reverse %}
	        	        <p class="mb-0 font-weight-bold">{{ palmares.jeux.name }}</p>
	    	            <p class="mb-1">{{ palmares.name }} - Top {{ palmares.rank }}</p>
		            {% endfor %}
		        </div>
		    {% else %}
		    	<div class="text-center col-12 col-lg-4">
		            {% for palmares in palmares|slice(0,9)|reverse %}
	        	        <p class="mb-0 font-weight-bold">{{ palmares.jeux.name }}</p>
	    	            <p class="mb-1">{{ palmares.name }} - Top {{ palmares.rank }}</p>
		            {% endfor %}
		        </div>

		        <div class="text-center col-12 col-lg-4">
		            {% for palmares in palmares|slice(10,19)|reverse %}
	        	        <p class="mb-0 font-weight-bold">{{ palmares.jeux.name }}</p>
	    	            <p class="mb-1">{{ palmares.name }} - Top {{ palmares.rank }}</p>
		            {% endfor %}
		        </div>
		    {% endif %}

		</div>
	</section>
    {% endif %}

    {% if resultats is not empty %}
	<section class="col-12">
		<div class="row m-0">
		    
		    <h1 class="col-12 col-lg-3 text-danger" style="font-family: 'Kaushan Script', cursive; font-size: 90px;">Matchs</h1>
		    
		    <div class="text-center col-6 col-lg-4">
	            {% for resultat in resultats|slice(0,9)|reverse %}
	                <div class="row m-1" style="justify-content: center; border: solid 1px;">
            		{% if  resultat.scoreOne < resultat.scoreTwo %}
	                	<p class="mb-0 col-4">{{ resultat.lineup.name }}</p>
	                 	<p class="mb-0 col-4">
	                	<span class="text-danger">{{ resultat.scoreOne }}</span> - <span class="text-success">{{ resultat.scoreTwo }}</p>
	                	<p class="mb-0 col-4">{{ resultat.teamAdverse }}</p>
	                {% else %}
	                	<p class="mb-0 col-4">{{ resultat.lineup.name }}</p>
	                	<p class="mb-0 col-4">
	                	<span class="text-success">{{ resultat.scoreOne }}</span> - <span class="text-danger">{{ resultat.scoreTwo }}</p>
	                	<p class="mb-0 col-4">{{ resultat.teamAdverse }}</p>
	                {% endif %}
	                </div>
	            {% endfor %}
	        </div>

	        <div class="text-center col-6 col-lg-4">
		            {% for resultat in resultats|slice(10.19)|reverse %}
		                <div class="row" style="justify-content: center;  border: solid 1px;">
                		{% if  resultat.scoreOne < resultat.scoreTwo %}
		                	<p class="mb-0 col-4">{{ resultat.lineup.name }}</p>
		                	<p class="mb-0 col-4">
		                	<span class="text-danger">{{ resultat.scoreOne }}</span> - <span class="text-success">{{ resultat.scoreTwo }}</p>
		                	<p class="mb-0 col-4">{{ resultat.teamAdverse }}</p>
		                {% else %}
		                	<p class="mb-0 col-4">{{ resultat.lineup.name }}</p>
		                	<p class="mb-0 col-4">
		                	<span class="text-success">{{ resultat.scoreOne }}</span> - <span class="text-danger">{{ resultat.scoreTwo }}</p>
		                	<p class="mb-0 col-4">{{ resultat.teamAdverse }}</p>
		                {% endif %}
		                </div>
		            {% endfor %}
		        </div>
		    
		</div>
	</section>
    {% endif %}
</div>
{% endif %}